
<section>
    <div  style="width: 90%; margin-left: 5%;margin-top: 2%;">
        <div class="row">
            <div class="col-6">
                <h5 style="text-align: center;">Team A</h5>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamAplayer1">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamAplayerrole1">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                    
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamAplayer2">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamAplayerrole2">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                    
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamAplayer3">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamAplayerrole3">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamAplayer4">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamAplayerrole4">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamAplayer5">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamAplayerrole5">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamAplayer6">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamAplayerrole6">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamAplayer7">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamAplayerrole7">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamAplayer8">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamAplayerrole8">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamAplayer9">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamAplayerrole9">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamAplayer10">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamAplayerrole10">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamAplayer11">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamAplayerrole11">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
            </div>
            
            <div class="col-6">
                <h5 style="text-align: center;">Team B</h5>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamBplayer1">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamBplayerrole1">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamBplayer2">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamBplayerrole2">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamBplayer3">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamBplayerrole3">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamBplayer4">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamBplayerrole4">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamBplayer5">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamBplayerrole5">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamBplayer6">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamBplayerrole6">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamBplayer7">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamBplayerrole7">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamBplayer8">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamBplayerrole8">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamBplayer9">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamBplayerrole9">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control" [(ngModel)]="teamBplayer10">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamBplayerrole10">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-7">
                        <input class="form-control"  [(ngModel)]="teamBplayer11">
                    </div>
                    <div class="col-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="teamBplayerrole11">
                            <option selected>Select Role</option>
                            <option value="wk">Wicket Keeper</option>
                            <option value="bt">Batsman</option>
                            <option value="ar">All Rounder</option>
                            <option value="bw">Bowler</option>
                          </select>
                    </div>
                </div>
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <p>Total number of teams to generate : </p>
            </div>
            <div class="col-4">
                <input class="form-control" [(ngModel)]="total_teams"> 
            </div>
            <div class="col-2"></div>
        </div>
<br>
        <div style="text-align: center;margin-top: 5px;margin-bottom: 10px;">
            <button class="btn btn-primary" type="submit" (click)="generate()">generate</button>
        </div>
    </div>

    <u><h2>Results</h2></u>
    <div *ngIf="master_teams.length" style="width: 80%;margin-left: 10%;">
        <div *ngFor="let team of master_teams;let i = index;" style="margin-bottom:10px;background-color: #08cc32e3;">
                <h2 style="text-align: center;">Team {{i+1}}</h2>
                <div  *ngFor="let data of team;">
                <div *ngIf="data.wk != undefined" class="row" style="text-align: center;">
                    <div class="col" *ngFor="let wk of data.wk;"> 
                        <h3 *ngIf="wk.position != ''" style="border: 0.2px solid gray;background-color: black;color: #ffffff;border-radius: 50%;width: 35px;margin-left: 50px;position: relative;margin-bottom: -20px;">{{wk.position == 'c'? wk.position  : (wk.position == 'vc' ? wk.position : '')}}</h3>
                        <img [src]="wk.team == 'a' ? '../assets/images/teamA.png' : '../assets/images/teamB.png'" width="100px">
                        <br>
                        {{wk.name}}
                    </div>
                </div>
                <hr>
            
            <div  *ngIf="data.bt != undefined" class="row"  style="text-align: center;">
                <div class="col" *ngFor="let bt of data.bt;">
                    <h3 *ngIf="bt.position != ''" style="border: 0.2px solid gray;background-color: black;color: #ffffff;border-radius: 50%;width: 35px;margin-left: 70px;position: relative;margin-bottom: -20px;">{{bt.position == 'c'? bt.position  : (bt.position == 'vc' ? bt.position : '')}}</h3>
                    <img [src]="bt.team == 'a' ? '../assets/images/teamA.png' : '../assets/images/teamB.png'" width="100px">
                    <br> 
                    {{bt.name}}
                    
                </div>
            </div>
            <hr>
            <div  *ngIf="data.ar != undefined"  class="row" style="text-align: center;">
                <div class="col" *ngFor="let ar of data.ar;">
                    <h3 *ngIf="ar.position != ''" style="border: 0.2px solid gray;background-color: black;color: #ffffff;border-radius: 50%;width: 35px;margin-left: 50px;position: relative;margin-bottom: -20px;">{{ar.position == 'c'? ar.position  : (ar.position == 'vc' ? ar.position : '')}}</h3>
                    <img [src]="ar.team == 'a' ? '../assets/images/teamA.png' : '../assets/images/teamB.png'" width="100px">
                    <br>
                    {{ar.name}}
                </div>
            </div>
            <hr>
            <div *ngIf="data.bw != undefined"  class="row" style="text-align: center;">
                <div class="col" *ngFor="let bw of data.bw;">
                    <h3 *ngIf="bw.position != ''" style="border: 0.2px solid gray;background-color: black;color: #ffffff;border-radius: 50%;width: 35px;margin-left: 50px;position: relative;margin-bottom: -20px;">{{bw.position == 'c'? bw.position  : (bw.position == 'vc' ? bw.position : '')}}</h3>
                    <img [src]="bw.team == 'a' ? '../assets/images/teamA.png' : '../assets/images/teamB.png'" width="100px">
                    <br> 
                    {{bw.name}}
                </div>
            </div>
            <hr>
            </div>
            <br>
        </div>
    </div>
</section>